<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>

		{% if username == "Moopz" %}
		<h1>Welcome to Admin</h1>
		<img src="../static/684-536x354.jpg" alt="picsum" />
		{% else %}
		<h1>You are not the Admin</h1>

		<a href="/"><span> return to home</span></a>
		{% endif %}
	</body>
</html> -->

{% extends "layout.html" %} {% block content %}
<div class="container">
	<h2>Contact Admin</h2>
	<form action="{{url_for('signupForm')}}" method="get">
		<div class="form-group">
			<label for="fname"> Contacter</label>
			<input type="text" name="fname" class="form-control" />
		</div>
		<div class="form-group">
			<label for="details"> Details</label>
			<textarea
				name="details"
				class="form-control"
				cols="30"
				rows="10"
			></textarea>
		</div>
		<input type="submit" value="send" class="btn btn-success" />
	</form>
</div>
{% endblock %}
