<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello Index</h1>
    <img src="../static/52-536x354.jpg" alt="picsum">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam in deserunt vitae. Officiis delectus eius iure
        quisquam officia, ea repudiandae harum asperiores, ipsa quis rem! Quasi enim explicabo obcaecati eos totam
        consequuntur temporibus iusto dicta incidunt et? Sequi, pariatur a.</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</body>

</html>