<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Landing Page</title>
	</head>

	<body>
		<h1>Hello Index</h1>
		<img src="../static/52-536x354.jpg" alt="picsum" />
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam in
			deserunt vitae. Officiis delectus eius iure quisquam officia, ea
			repudiandae harum asperiores, ipsa quis rem! Quasi enim explicabo
			obcaecati eos totam consequuntur temporibus iusto dicta incidunt et?
			Sequi, pariatur a.
		</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
		<h1>{{data.name}}</h1>
		<h1>{{data.age}}</h1>
	</body>
</html> -->
{% import "bootstrap/wtf.html" as wtf %} {% extends "layout.html" %} {% block
title %} Welcome to Flask Website {% endblock %} {% block content %}
<div class="container mt-2">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{message}}
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		></button>
	</div>
	{% endfor %} {{ wtf.quick_form(form)}}
	<hr />
	{% if session['name'] %} Your name is <strong> {{session['name']}} </strong>
	<br />
	Accept the terms and conditions? <strong> {{session['isAccept']}} </strong>
	<br />
	Your gender is <strong> {{session['gender']}} </strong> <br />
	Your skill is <strong> {{session['skills']}} </strong> <br />
	Your Address is <strong> {{session['address']}} </strong> <br />
	{% else %} Data not Found {% endif %}
</div>
<script>
	const btn = document.querySelector(".btn.btn-default");
	btn.classList.remove("btn-default");
	btn.classList.add("btn-success");
	console.log(btn);
</script>
{% endblock %}
